@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url("./assets/background-ghibli-style.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --color-main: #367b99;
  --color-in-progress: #90c8ac;
  --color-checked-in: #f3dba1;
  --color-recovery: #a4b4d9;
  --color-closing: #a9cba2;
  --color-complete: #cccccc;
  --color-pre-procedure: #c9d8b6;
  --color-card-border: #f3e2b0;

  /* Form Colors */
  --color-border: #9ec2c4;
}

body {
  overflow-x: hidden;
}

.card {
  border: 2px solid var(--color-card-border);
  width: 350px;
  height: 200px;
}

/* Patient Information */
.add-patient-form,
.search-patient-form {
  border-radius: 10px;
  border: 2px solid var(--color-border);
}

.patient-btn {
  padding: 5px 10px;
  background: var(--color-main);
  border-radius: 8px;
  color: #fff;
}

.patient-btn--secondary {
  background: var(--color-complete);
}

@media (max-width: 40rem) {
  .patient-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.add-input input,
.search-input input {
  background: #f5f3e0;
  border: 2px solid var(--color-border);
  border-radius: 5px;
  padding: 5px 10px;
}

.search-patient {
  border: 2px solid #d9d9d9 !important;
  background: #d9d9d9 !important;
}

input:focus {
  outline: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 80rem) {
  .card {
    width: 300px;
    height: 180px;
  }
}

.error-msg {
  border: 1px solid red !important;
}
